h1{
    color: aqua;
}

.sticky{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    text-shadow:10cm;
}
.container{

    display: flex;
    justify-content:space-evenly;
  
    flex-direction: row;
   margin: 5%;
    align-items: center;
    flex-wrap: wrap;
 

}
.card{
    size: 60%;
    margin-left: 2%;
    margin-bottom: 6%;
   

}
.cara{
    height: 20%;
    width: 100%;
}

.img{
    width: 100vw;
    height: 40vh;
   background-image: url(kitchen3.jpg);
    background-size: cover;
    background-position: right;
    
    

}
footer{
    background-color: rgb(22, 21, 21);
    margin-bottom: 0%;
    padding: 0%;
    color: rgb(230, 243, 243);
}
.direction{
    padding: 3px;
color: rgb(1, 8, 8);
height: 6px;
background-color: rgb(255, 255, 255);
text-decoration: none;

}
.direction:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .aa{
      color:black;
      text-decoration: none;
  }
  .aa:hover{
      color: black;
  }

  .about{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 60px;
      text-decoration: bisque;
   flex-wrap: wrap;
   background-color: rgb(148, 148, 148);
  }  
  .experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    color: rgb(255, 255, 255);

 flex-wrap: wrap;
 background-color: rgb(10, 1, 1);
 padding-left: 23%;
  } 

  .fon
  {
    font-family: 'Roboto', sans-serif;
    

  }

  .cardd{
      background-color: rgb(20, 19, 19);
      color: white;
      
  }
 .bigbox{
     display:flex;
     flex-direction: column;
     flex-wrap: wrap;
    padding-bottom: 4vh;
    

     
 }
 .box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:5vh;
    padding-bottom: 5vh;
   

 }

 .iimg{
    
     height: 30vh;
     margin-top:5vh;
  
    

 }
 img{
    max-width:100%;
    max-height:100%;
 }
.textt{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 2vh;
  
}
